<div class="main" style="padding: 10px;">
    <mat-card class="main">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>User Registration</h3>
    
                <div class="alert alert-success" *ngIf="isSuccessful">
                    <strong>Registration saved!</strong> Please Waiting for a Confirmation.
                </div>
    
                <div class="alert alert-danger" *ngIf="isSignUpFailed">
                    <strong >{{errorMessage}}</strong>
                    <strong *ngIf="errorMessage == null">Registration Failed!</strong>
                </div>
    
                <div class="alert alert-danger" *ngIf="doNotMatch">
                    The password and its confirmation do not match!
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form [formGroup]="userRegisterForm" (ngSubmit)="userForm()" name="form">
                    <div class="form-group">
                        <label class="form-control-label" for="username">User Name</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Your Full Name"
                                formControlName="username">
                        <div *ngIf="userRegisterForm.controls.username.errors && (userRegisterForm.controls.username.touched || userRegisterForm.controls.username.dirty)">
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('required','username')">
                                User Name is Required
                            </div>
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('pattern','username')">
                                User Name is Invalid format.
                            </div>
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('minlength','username')">
                                User Name must be 3 characters long
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="fullname">Full Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Your Full Name"
                                formControlName="fullname">
                        <div *ngIf="userRegisterForm.controls.fullname.errors && (userRegisterForm.controls.fullname.touched || userRegisterForm.controls.fullname.dirty)">
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('required','fullname')">
                                Name is Required
                            </div>
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('pattern','fullname')">
                                Name is Invalid format(Only characters)
                            </div>
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('minlength','fullname')">
                                Name must be 3 characters long
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                                 formControlName="email">
                        <div *ngIf="userRegisterForm.controls.email.errors && (userRegisterForm.controls.email.touched || userRegisterForm.controls.email.dirty)">
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('required','email')">
                                Email is Required
                            </div>
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('pattern','email')">
                                Email is Invalid
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="contact">Contact</label>
                        <input type="text" class="form-control" id="contact" name="contact" placeholder="Your Contact"
                                formControlName="contact">
                            <div *ngIf="userRegisterForm.controls.contact.errors && (userRegisterForm.controls.contact.touched || userRegisterForm.controls.contact.dirty)">
                                <div style="color: red;" *ngIf="userRegisterForm.hasError('required','contact')">
                                    Contact is Required
                                </div>
                                <div style="color: red;" *ngIf="userRegisterForm.hasError('pattern','contact')">
                                    Contact is Invalid format(Only Number)
                                </div>
                                <div style="color: red;" *ngIf="userRegisterForm.hasError('minlength','contact')">
                                    Contact must be 10 digits
                                </div>
                                <div style="color: red;" *ngIf="userRegisterForm.hasError('maxlength','contact')">
                                    Contact can not exceed 14 digits
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="address">Address</label>
                        <textarea class="form-control" id="address" name="address" placeholder="Your Address"
                            formControlName="address"></textarea>
                        <div *ngIf="userRegisterForm.controls.address.errors && (userRegisterForm.controls.address.touched || userRegisterForm.controls.address.dirty)">
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('required','address')">
                                Address is Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Your City"
                             formControlName="city">
                        <div *ngIf="userRegisterForm.controls.city.errors && (userRegisterForm.controls.city.touched || userRegisterForm.controls.city.dirty)">
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('required','city')">
                                City is Required
                            </div>
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('pattern','city')">
                                City is Invalid format(Only characters)
                            </div>
                            <div style="color: red;" *ngIf="userRegisterForm.hasError('minlength','city')">
                                City must be 3 characters long
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                                        formControlName="password">
                                <div *ngIf="userRegisterForm.controls.password.errors && (userRegisterForm.controls.password.touched || userRegisterForm.controls.password.dirty)">
                                    <div style="color: red;" *ngIf="userRegisterForm.hasError('required','password')">
                                        Password is Required
                                    </div>
                                    <div style="color: red;" *ngIf="userRegisterForm.hasError('minlength','password')">
                                        Password minimum length is 5
                                    </div>
                                </div>
                            <!-- <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar> -->
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label" for="confirmPassword">Confirm password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                                        formControlName="confirmPassword">
                                    <div *ngIf="userRegisterForm.controls.confirmPassword.errors && (userRegisterForm.controls.confirmPassword.touched || userRegisterForm.controls.confirmPassword.dirty)">
                                        <div style="color: red;" *ngIf="userRegisterForm.hasError('required','confirmPassword')">
                                            Confirm Password is Required
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!userRegisterForm.valid">Register</button>
                    
                </form>
                <p></p>
                <div class="alert alert-warning">
                    <span>Already Register?</span>
                    <a routerLink="/user/login" routerLinkActive="router-link-active"  class="alert-link" > SignIn</a>
                </div>
            </div>
        </div>
    </mat-card>
</div>
    