<div class="main">
    <div style="margin: 0% 1%;padding: 2% 0%;">
        <div class="column" *ngFor="let painting of paintings" [routerLink]="['/artist/paintDetails/',painting.id]" routerLinkActive="router-link-active" >
            <div class="card" align="center" style="padding-top: 5%;">
              <img src="data:image/jpeg;base64,{{painting.picByteFile1}}"  height="250px">
              <div class="product-pic">
                <p>
                  <a>{{painting.title}}</a>
                  <span><app-painting-artist-name [artistid]="painting.artistid"></app-painting-artist-name></span>
                </p>
              </div>
              <div class="product-info">
                <div class="product-info-cust" style="font-size:25px;">
                  <a>&#x20a8; {{painting.price}}</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>