<div class="main" style="padding: 2% 0%;">
    <div class="container">
        <div class="twogrid">
            <img src="data:image/jpeg;base64,{{pwt.picByteFile1}}">
        </div>
        <div class="userinfo" align="center">
            <img src="../assets/images/ii.png" style="width: 125px;height: 150px;
            border: 5px solid white;border-radius: 100px">
            <p style="color:grey;font-size:22px"><app-user-name [userid]="pwt.userid"></app-user-name></p>

            
            <p *ngIf="pwt.portrait==='true'" style="color:grey;font-size:18px;margin-top: 2%;" align="center">Portrait Type: {{pwt.type}}</p>
            <p *ngIf="pwt.wallpaint==='true'" style="color:grey;font-size:18px;margin-top: 2%;" align="center">Wallpaintings Type: {{pwt.type}}</p>
            <p style="color:grey;font-size:18px;" align="center">Price you charge: {{pwt.price | currency:"INR":true }}</p>
            <app-user-info [userid]="pwt.userid"></app-user-info>
            <br>
            <div *ngIf="pwt.portrait==='true' && pwt.status==='wait'">
                <button type="submit" class="btn btn-danger" (click)="portraitWallpaintRequestAcceptOrReject($event)" value="PAccept" style="float: right;margin-right: 40px" >Accept</button>
                <button type="submit" class="btn btn-danger" (click)="portraitWallpaintRequestAcceptOrReject($event)" style="float: right;margin-right: 40px" value="Reject">Reject</button>
            </div>
            <div *ngIf="pwt.portrait==='true' && pwt.status==='Reject'">
                <h6>Rejected</h6>
            </div>
            <div *ngIf="pwt.portrait==='true' && pwt.status==='FinalAccept'">
                <h6>Accepted</h6>
            </div>

            <div *ngIf="pwt.wallpaint==='true' && pwt.status==='wait'">
                <button type="submit" class="btn btn-danger" (click)="portraitWallpaintRequestAcceptOrReject($event)"  value="WAccept" style="float: right;margin-right: 40px" >Accept</button>
                <button type="submit" class="btn btn-danger" (click)="portraitWallpaintRequestAcceptOrReject($event)"  style="float: right;margin-right: 40px" value="Reject">Reject</button>
            </div>
            <div *ngIf="pwt.wallpaint==='true' && pwt.status==='Reject'">
                <h6>Rejected</h6>
            </div>
            <div *ngIf="pwt.wallpaint==='true' && pwt.status==='FinalAccept'">
                <h6>Accepted</h6>
            </div>

            <div *ngIf="pwt.status==='FinalAccept'">
                <a href="data:image/jpeg;base64,{{pwt.picByteFile1}}" style="float:right;color: black;margin-right: 40px" download><i class="fa fa-picture-o" aria-hidden="true"> Download</i></a>
            </div>
        </div>
    </div>
</div>